@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Delius", cursive;
  font-weight: 400;
}



.wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-image: url('./loginbg6.jpg');
  background-size: cover;
  background-position: center;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px 12px 12px 35px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}



.form-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  transition: all 0.3s;
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:valid + label {
  top: -8px;
  left: 10px;
  font-size: 13px;
  color: #555;
  background: #f7f7f7;
  padding: 0 4px;
  border-radius: 3px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #b12fb1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-btn:hover {
  background-color: #a02fa0;
}

.link {
  margin-top: 15px;
}

.link p {
  font-size: 14px;
  color: #333;
}

.link a {
  color: #b12fb1;
  text-decoration: none;
  margin-left: 5px;
  transition: color 0.3s;
}

.link a:hover {
  color: #a02fa0;
}
